<!doctype html>
<html lang="en">
    <head>
        <title>UNIGAME</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Josefin+Sans&family=Playfair+Display+SC:wght@700&display=swap" rel="stylesheet">
        <style>
            label, button, input {
                font-family: 'Josefin Sans', sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="flex flex-col bg-gray-800" style="width: 100vw; min-height: 100vh;">
            <header class="flex flex-col justify-end pb-20 items-center bg-gray-900" style="height: 30vh;">
                <h1 class="text-4xl text-yellow-400" style="font-family: 'Cinzel Decorative', cursive; letter-spacing: 1rem;">UNIGAME</h1>
            </header>

            <div class="flex flex-col pt-20 justify-start items-center flex-grow">
                <div class="p-12 rounded-lg shadow-lg bg-gray-700" style="min-width: 500px;">
                {% block form %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>