<h1>Hero creation</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create hero' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Hero">
</form>
