{% if heroes %}
    <ul>
    {% for hero in heroes %}
    <li>{{ forloop.counter }} - <a href="{% url 'hero detail' hero.id %}">{{ hero.name }}</a>
    - Level {{ hero.level }} {{ hero.hero_class }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No heroes available<p>
{% endif %}
