{% if page_obj %}
    <ul>
    {% for hero in page_obj %}
    <li>{{ forloop.counter }} - <a href="{% url 'hero detail' hero.id %}">{{ hero.name }}</a>
    - Level {{ hero.level }} {{ hero.hero_class }}</li>
    {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No heroes available<p>
{% endif %}

