{% extends 'layout/index.html' %}

{% block form %}

{{ form.non_field_errors }}

<form method="post" class="flex flex-col text-gray-900">
    {% csrf_token %}
    <p class="flex flex-col mb-5">
        {{ form.username.errors }}
        <label for="username" class="text-yellow-400">Username</label>
        <input type="text" name="username" maxlength="150" required class="border border-gray-300 bg-gray-300 rounded shadow py-2 px-4" id="username" style="outline: none;">
    </p>
    <p class="flex flex-col mb-10">
        {{ form.password.errors }}
        <label for="password" class="text-yellow-400">Password</label>
        <input type="password" name="password" maxlength="150" required class="border border-gray-300 bg-gray-300 rounded shadow py-2 px-4" id="password" style="outline: none;">
    </p>

    <p class="flex flex-col">
        <button type="submit" class="text-yellow-400 bg-gray-900 rounded shadow py-3 px-4 hover:bg-gray-800">Login</button>
    </p>

    <hr class="mt-10">

    <p class="mt-10 flex flex-col items-center text-yellow-400">
        <a href="/accounts/sign_up">Create a new account</a>
    </p>
</form>

{% endblock %}
