{% extends 'layout/index.html' %}

{% block form %}

{{ form.non_field_errors }}

<form method="post">
    {% csrf_token %}
    <p class="flex flex-col mb-5">
        {{ form.username.errors }}
        <label for="username" class="text-yellow-400">Username</label>
        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="username"
               class="border border-gray-300 bg-gray-300 rounded shadow py-2 px-4" style="outline: none">
    </p>
    <p class="flex flex-col mb-5">
        {{ form.password1.errors }}
        <label for="id_password1" class="text-yellow-400">Password</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1"
            class="border border-gray-300 bg-gray-300 rounded shadow py-2 px-4" style="outline: none">
    </p>
    <p class="flex flex-col mb-10">
        {{ form.password2.errors }}
        <label for="id_password2" class="text-yellow-400">Password confirmation</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2"
            class="border border-gray-300 bg-gray-300 rounded shadow py-2 px-4" style="outline: none">
    </p>

    <p class="flex flex-col">
        <button type="submit" class="text-yellow-400 bg-gray-900 rounded shadow py-3 px-4 hover:bg-gray-800">Sign up</button>
    </p>
</form>

{% endblock %}
